{% extends "ScanBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        body {
            padding-top: 20px;
            padding-bottom: 40px;
        }

            /* Custom container */
        .container-narrow {
            margin: 0 auto;
            max-width: 700px;
        }
        .container-narrow > hr {
            margin: 30px 0;
        }

            /* Main marketing message and sign up button */
        .jumbotron {
            margin: 60px 0;
            text-align: center;
        }
        .jumbotron h1 {
            font-size: 72px;
            line-height: 1;
        }
        .jumbotron .btn {
            font-size: 21px;
            padding: 14px 24px;
        }

            /* Supporting marketing content */
        .marketing {
            margin: 60px 0;
        }
        .marketing p + h4 {
            margin-top: 28px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script>
    function goLogIn(){
        {#window.location.href = "{{ path('_security_check') }}";#}
        window.location.href = "{{ path('fos_facebook_security_check') }}";
    }

    function onFbInit() {
        if (typeof(FB) != 'undefined' && FB != null ) {
            FB.Event.subscribe('auth.statusChange', function(response) {
                if (response.session || response.authResponse) {
                    setTimeout(goLogIn, 500);
                } else {
                    {#window.location.href = "{{ path('_security_logout') }}";#}
                    window.location.href = "{{ path('fos_user_security_logout') }}";
                }
            });
        }
    }
</script>

{% endblock %}

{% block pagecontent %}
    {{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();' , 'status' : true }) }}

    <hr>

    <div class="jumbotron">
        <h1>We host your mailboxes!</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <a class="btn btn-large btn-success" href={{ path('fos_user_registration_register') }}>Sign up today</a>
    </div>

    <hr>

    <div class="row-fluid marketing">
        <div class="span6">
            <h4>Trial Product</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Promotion</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Policies</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div>

    <hr>

    <div class="footer">
        <p>&copy; Slothzone 2013</p>
    </div>
    </div><!-- .container -->
{% endblock %}