<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]--><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Realesta - A powerful housing system</title>
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href=" {{ asset('css/main.css') }}">
    <link rel="stylesheet" href=" {{ asset('css/mystyle.css') }}">
    <link rel="stylesheet" href=" {{ asset('css/escape-icons.css') }} ">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700|Oswald:700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/static/img/favicon.png" >

    <script type="text/javascript" src="//use.typekit.net/dzw0ehp.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
    <script type="text/javascript">  var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-38903245-1']); _gaq.push(['_trackPageview']);  (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();  </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="{{ asset('js/jquery.spritely-0.6.js') }}"></script>
    {#<script type="text/javascript" src="{{ asset('js/jquery.cookie.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('js/analytics.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('js/searchbar.js') }}"></script>#}
    {#<script type="text/javascript" src="{{ asset('js/jquery.history.js') }}"></script>#}
    <script type="text/javascript" src="{{ asset('js/scripts.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/hero.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/jquery-1.9.1.min.js') }}"></script>
    {#<script src="{{ asset('js/jquery.mobile-1.3.1.min.js') }}"></script>#}
    <script type="text/javascript">
      $("#txtLocation").on("input", function(e) {
          alert('input');
      });
    </script>

    <script src="{{ asset('js/jquery.colorbox-min.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/colorbox.css') }}">
    <script>
        $(document).ready(function(){
            $(".house-info").colorbox({iframe:true, width:"80%", height:"90%"});

            $("#searchButton").on("click",function(e){
                e.preventDefault();
                alert("abc");
                locationName = $("#txtLocation").val();
                //locationName = locationName.replace(" ","+");
                window.location = "{{ url('mapbox_home') }}?location="+locationName;
                //e.preventDefault();
//                    linkLocation = this.href;
                //linkLocation = "http://www.google.com";
                //$(document).fadeOut(1000, redirectPage);
            });

        });
    </script>

  </head>
  <body>
    <div id="wrapper">
    <header>
      <div id="header-overlay"></div>
      <form id="header-bar" method="get" action="/">
        <div class="container">
        <h1>
          <!-- <a href="/">Realesta</a> -->
          <img class="logo" src="img/newlogo.png">
        </h1>
        <div id="airport" class="dropdown alpha-one">
          <h2>Search at</h2>
          <div class="display">
              <div class="flip">
                <div class="flip-content">S</div>
              </div>
              <div class="flip">
                <div class="flip-content">I</div>
              </div>
              <div class="flip">
                <div class="flip-content">N</div>
              </div>
          </div>
         
          <ul>
          
            <li>
            <input type="radio" name="a" id="airport-LON" value="LON" />
            <label for="airport-LON">London</label>
            <span class="icon-check"></span>
            </li>
          
            <li>
            <input type="radio" name="a" id="airport-LHR" value="LHR"  />
            <label for="airport-LHR">Tokyo</label>
            <span class="icon-check"></span>
            </li>
          
            <li>
            <input type="radio" name="a" id="airport-LGW" value="LGW"  />
            <label for="airport-LGW">HCM City</label>
            <span class="icon-check"></span>
            </li>
          
            <li class="dropdown-link">
              <a href="#other" id="show-sentence-2">Other city</a>
            </li>
          </ul>
        </div>
        
        <div id="dates" style="width:auto;">
        
              <h2>Location</h2>
              <input class="abt-search-box" name="txtLocation" id="txtLocation" type="text" placeholder="Location...">
              
              {#<ul id="suggestions" data-role="listview" data-inset="true" data-filter="false" data-filter-reveal="true" data-theme="h">#}
                  {#<li data-icon="false"><a id="current_location">Get current location...</a></li>#}
              {#</ul>#}

              <button class="abt-search-btn" id="searchButton">Go</button>
              
        </div>
      </div>
      </form>
    </header>

    <table border="0px" cellpadding="0px" cellspacing="0px" class="listview">
        <tr>
            <td colspan="4">
                <ul id="suggestions" data-role="listview" data-inset="true" data-filter="false" data-filter-reveal="true" data-theme="h" style="display:none;">
                    <li data-icon="false" style="display:none;"><a id="current_location">Get current location...</a></li>
                </ul>
            </td>
        </tr>
    </table>

<div id="home" class="places">
    <div class="hero">
      <div id="hero-container">


        <div class="slide active">
          <a href="/" class="thumb" data-popup data-analytics="DetailLink, Marquee, Ghent">
            <img src="{{ asset('img/3.jpg') }}" class="hero-img" />
          </a>
          <div class="slide-content">
            <h1><br>Make decision easy<br>Because we understand you the best.</h1>
            <h2><strong class="city">Binjai Crest</strong></span>apply for <strong class="small"></strong><strong>1000 S$/night</strong></h2>
            <p><a href="http://escapeflight.com/barcelona/?a=LON&w=T&p=W&i1=2&i2=1" class="yellow-btn" data-popup data-analytics="DetailLink, Marquee, Ghent">Check out some popular places</a></p>
          </div>
        </div>
      
    
      <div class="slide ">
        <a href="/scheveningen/?a=LON&amp;w=T&amp;p=H&amp;i1=6&amp;i2=2" class="thumb" data-popup data-analytics="DetailLink, Marquee, Scheveningen">
            <img data-src="img/2.jpg" class="hero-img hero-replace" />
        </a>
        
        <div class="slide-content">
            <h1>Holding a party?<br> we got your back<br> It's now easier than ever.</h1>
            <h2><strong class="city">Design the venue</strong> in<strong class="small"></strong><strong>your own way!</strong></h2>
            <p><a href="http://escapeflight.com/barcelona/?a=LON&w=T&p=W&i1=2&i2=1" class="yellow-btn" data-popup data-analytics="DetailLink, Marquee, Scheveningen">See some successful events in town!</a></p>
        </div>
      </div>
      
    
      <div class="slide ">
        <a href="/lisbon/?a=LON&amp;w=T&amp;p=H&amp;i1=6&amp;i2=2" class="thumb" data-popup data-analytics="DetailLink, Marquee, Lisbon">
            <img data-src="img/1.jpg" class="hero-img hero-replace" />
        </a>
        
        <div class="slide-content">
            <h1>Compilated process make you tired? <br>Design it online<br>and we make it for you.</h1>
            <h2><strong class="city">Michael's @ Chestnut</strong> for <strong class="small"></strong><strong>2000$/night</strong></h2>
            <p><a href="http://escapeflight.com/barcelona/?a=LON&w=T&p=W&i1=2&i2=1" class="yellow-btn" data-popup data-analytics="DetailLink, Marquee, Lisbon">Check out how we do that</a></p>
        </div>
      </div>
      
    
      <div class="slide ">
        <a href="/leiden/?a=LON&amp;w=T&amp;p=H&amp;i1=6&amp;i2=2" class="thumb" data-popup data-analytics="DetailLink, Marquee, Leiden">
            <img data-src="img/4.jpg" class="hero-img hero-replace" />
        </a>
        
        <div class="slide-content">
            <h1>Made for local people <br>We know your need<br>and do out best <br>to meet it.</h1>
            <h2><strong class="city">Mandarin Park</strong> <span class="icon-clear"></span> for <strong class="small"></strong><strong>1500 S$/night</strong></h2>
            <p><a href="http://escapeflight.com/barcelona/?a=LON&w=T&p=W&i1=2&i2=1" class="yellow-btn" data-popup data-analytics="DetailLink, Marquee, Leiden">Check out our successful events!</a></p>
        </div>
      </div>
    </div>  
    
      
      <div class="hero-bullets" style="position:absolute; z-index:100; color:#FFF;">
        <ul>
          <li><a href="#" rel="0" class="active"></a></li>
          <li><a href="#" rel="1" ></a></li>
          <li><a href="#" rel="2" ></a></li>
          <li><a href="#" rel="3" ></a></li>
        </ul>
      </div>
    
      <div data-smoothscroll="#cheapest">
        <a href="#" class="flip"><span class="icon-big-down-arrow"></span></a>
      </div>

    </div>


  <div class="container">
    <section id="cheapest">
      <h1><em>Hottest deals</em> in town</h1>
      <div class="display">
        
        <div class="large">
          <a href="{{path('mapbox_detail')}}" class="house-info" data-popup data-analytics="DetailLink, Home_Cheapest_1, Leiden">
          <img src="img/5.jpg" class="hero-img hero-replace" />
          <div class="info">
            <h1 class="city">Binjai Crest</h1>
            <h1 class="country">500 S$</h1>
          
            <h2>3,100 sqft <strong>288.00 sqm </strong></h2>
            
          
          </div>
          <div class="hover"></div>
          </a>
        </div>
        
        <div class="small-group">
                    <div class="small money">
                      
                      <a href="{{path('mapbox_detail')}}" class="house-info" data-popup data-analytics="DetailLink, Home_Cheapest_2, Scheveningen">
                        <img src="img/6.jpg" class="hero-img" />
                        <div class="info">
                          <h1 class="city">Michael's @ Chestnut</h1>
                          <h2><strong>899 S$</strong> on Application</h2>
                          <div class="additionnal">
                            <strong>3,980 sqft / 369.75 sqm </strong>
                          </div>
                        </div>
                        <div class="hover"></div>
                      </a>
                      
                    </div>
                              
                                

                    <div class="small money">
                      
                      <a href="{{path('mapbox_detail')}}" class="house-info" data-popup data-analytics="DetailLink, Home_Cheapest_3, Ghent">
                        <img src="img/7.jpg" class="hero-img" />
                        <div class="info">
                          <h1 class="city">Jln Kg Chantek</h1>
                          <h2><strong>1099 S$</strong> offers</h2>
                          <div class="additionnal">
                            <strong>12,000 sqft / 1,114.83 sqm </strong> For a night
                          </div>
                        </div>
                        <div class="hover"></div>
                      </a>
                      
                    </div>
                              
                                

                    <div class="small money">
                      
                      <a href="{{path('mapbox_detail')}}" class="house-info" data-popup data-analytics="DetailLink, Home_Cheapest_4, Bruges">
                        <img src="img/8.jpg" class="hero-img" />
                        <div class="info">
                          <h1 class="city">Mandarin Park</h1>
                          <h2><strong>12000 S$</strong> for a whole day</h2>
                          <div class="additionnal">
                            <strong>5,100 sqft / 473.80 sqm </strong>
                          </div>
                        </div>
                        <div class="hover"></div>
                      </a>
                      
                    </div>
                              
                                

                    <div class="small money">
                      
                      <a href="{{path('mapbox_detail')}}" class="house-info" data-popup data-analytics="DetailLink, Home_Cheapest_5, Lake Genval">
                        <img src="img/9.jpg" class="hero-img" />
                        <div class="info">
                          <h1 class="city">GCB - Jalan Kampong</h1>
                          <h2><strong>799 S$</strong> Offers</h2>
                          <div class="additionnal">
                            <strong>4,100 sqft / 380.90 sqm </strong> Freehold
                          </div>
                        </div>
                        <div class="hover"></div>
                      </a>
                      
                    </div>
                              
        </div>

        <a href="/?a=LON&amp;w=T&amp;p=M&amp;i1=6&amp;i2=2" class="more" data-analytics="Search, Home_Cheapest"><strong>Show me more</strong> hot deals</a>
        </div>
    </section>

  </div>
  <!--FEEDBACK-->
  {#<div id="getsat-widget-4829"></div>#}
  {#<script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>#}
  {#<script type="text/javascript">if (typeof GSFN !== "undefined"){ GSFN.loadWidget(4829,{"containerId":"getsat-widget-4829"});}</script>#}
  {#<div id="highlight-wrapper"></div>#}
  <!--end FEEDBACK-->

    <footer style="margin-top:30px;">
    <div class="container">
      <p id="weather-source">Realesta data by <a href="http://www.wunderground.com/" target="_blank" data-analytics="Outbound Links, Wunderground">wunderground.com</a></p>
      <p id="follow-us">Follow <strong>Realesta</strong> updates on <a href="https://twitter.com/escapeflight" class="white-btn" target="_blank" data-analytics="Outbound Links, Twitter">Twitter</a></p>
      
      {#<div id="face-like" data-analytics="SocialMediaClicks, FacebookLike">#}
        {#<div id="fb-root"></div>#}
        {#<script>(function(d, s, id) {#}
          {#var js, fjs = d.getElementsByTagName(s)[0];#}
          {#if (d.getElementById(id)) return;#}
          {#js = d.createElement(s); js.id = id;#}
          {#js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=134446390057069";#}
          {#fjs.parentNode.insertBefore(js, fjs);#}
        {#}(document, 'script', 'facebook-jssdk'));</script>#}
        
        {#<div class="fb-like" data-href="http://www.escapeflight.com" data-send="false" data-width="980" data-show-faces="true"></div>#}
      {#</div>#}
      
    </div>
    
    <div id="copy">
      <div class="container">
        <div id="copy-right">
          <a href="/terms/">Terms and Conditions</a>
          <span class="separator">|</span>
          <a href="/privacy/">Privacy</a>
          <span class="separator">|</span>
          {#Share <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//escapeflight.com/" id="footer-fb" target="_blank" data-sharing-popup="600,240" data-analytics="SocialMediaClicks, FacebookShare"><strong>on Facebook</strong></a> <a href="https://plus.google.com/share?url=http%3A//escapeflight.com/" id="footer-go" target="_blank" data-sharing-popup="600,240" data-analytics="SocialMediaClicks, TwitterShare"><strong>on Google+</strong></a> <a href="https://twitter.com/intent/tweet?hashtags=escapeflight&text=Need%20to%20get%20out%20of%20the%20city%3F%20Escape%20Flight%3A%20the%20new%20online%20service%20that%20only%20flies%20this%20weekend&url=http%3A//escapeflight.com/"id="footer-tw" target="_blank" data-sharing-popup="600,240" data-analytics="SocialMediaClicks, GoogleShare"><strong>on Twitter</strong></a>#}
        </div>
        
        <div id="copyright">&copy; 2013 Realesta <span id="rights">We rock team, NTU. All rights reserved.</span></div>
        
        <div class="clear"></div>
      </div>
    </div>
    </footer>
  
  <div id="loading"><div id="loading-animation">Loading ...</div></div>
  </body>
</html>