<!DOCTYPE html>
<html>
<head>


    <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
    <script src="{{ asset('js/jquery-1.9.1.min.js') }}"></script>
    {#<script src="{{ asset('js/jquery.mobile-1.3.1.min.js') }}"></script>#}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZe9ftqbsTOChqaoGsWOBb-G06ydFRDqE&v=3.exp&sensor=false&libraries=places"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />

    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">


    <!--[if lte IE 8]>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet'>

    <![endif]-->
</head>

<body>

<div class="container" >

    <div class="row-fluid">
        {#Top menu#}
        <header>
            <div class="span3 offset4" style="margin-bottom: 10px;">
                <h3 style="margin-left: 40px;"> Logo Realesta</h3>
            </div>
        </header>


        <div class="span8 offset3">
            <form action="return false;" style="display:inline;" method="get">
                <input class="my-abt-search-box" id="txtLocation" name="txtLocation" size="40" type="text" placeholder="Search location "/>
                <input class="abt-search-btn" id="searchButton" value="Search" type="submit"/>
            </form>

            <ul id="suggestions" data-role="listview" data-inset="true" data-filter="false" data-filter-reveal="true" data-theme="h">
                <li data-icon="false"><a id="current_location">Get current location...</a></li>
            </ul>
        </div>

        <div class="span12" >
            <div id="maparea">
            <!--Body content-->
                <div id=map></div>
            </div>
        </div>
    </div>
</div>


<script type='text/javascript'>
    var map = L.mapbox.map('map', 'myticmoon.map-1hexx4xe');
    map.setView([1.352, 103.819], 11);
</script>
</body>
</html>